.image-review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: inherit;

  .image-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin-bottom: 5px;
    margin-left: 10px;

    p {
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }

    span {
      color: gray;
      font-size: 0.7rem;
      display: flex;
      align-items: flex-end;
      height: 30px;
      padding-left: 10px;
    }
  }

  .image-review-data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 90%;
    height: 85%;

    .image-review-data-image {
      flex: 1 1 auto;
      height: 100%;

      img {
        width: 100%;
        height: inherit;
        border-radius: 15px;
      }
    }

    .image-review-data-chat {
      width: 30%;
      height: 100%;
      padding-left: 30px;

      & > div {
        height: inherit;
      }

    }
  }
}
