@import "base/reset";
@import "components/image-grid";
@import "components/gallery-screen";
@import "components/image-review";
@import "components/chat";
@import "components/username-dialog";

.text-2-line-ellipsis {
  width: 85%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  background:#fff;
  position:absolute;
}


.text-1-line-ellipsis {
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.center-it{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col{
  display: flex;
  flex-direction: column;
}
